.body-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.body-card-container {
    width: 100%;
    text-align: center;
    border-radius: var(--border-radius);
    padding: 15px 5px;
}

.body-card-text {
    color: var(--button-text-color);
}

.legend ul li {
    margin: 5px;
    padding: 5px 10px;
    border-radius: var(--border-radius);
    color: var(--button-text-color);
}

.planet {
    background-color: #f28343;
}
.star {
    background-color: #cdba4e;
}
.moon {
    background-color: #8ae95a;
}
.asteroid {
    background-color: #41e590;
}
.comet {
    background-color: #4cafc8;
}
.dwarf-planet {
    background-color: #596eef;
}