.body-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.body-card-container {
    width: 100%;
    text-align: center;
    border: 1px solid var(--text-color);
    border-radius: var(--border-radius);
    padding: 15px 5px;
}

.body-card-container:hover {
    color: var(--button-text-color);
    background-color: var(--button-background-color);
}
