input {
    border-radius: var(--border-radius);
    padding: 10px;
    border: none;
    margin-top: 5px;
}

button {
    border: none;
    padding: 15px;
    text-align: center;
    display: inline-block;
}

.container {
    display: flex;
    justify-content: center;
}