body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--primary-font);
    font-size: var(--font-size);
}

.card {
    background-color: var(--card-background-color);
    color: var(--card-text-color);
}

nav {
    background-color: var(--card-background-color);
    color: var(--card-text-color);
}