.home-container {
    display: flex;
}

.home-item {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 20px 50px;
    text-align: center;
    font-weight: bold;
    border-radius: var(--border-radius);
}
